<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Lista de Usuarios</title>
<body>

	<header th:replace="layout/layout :: frag-header"></header>

	<div id="content-wrapper" class="d-flex flex-column">

		<div id="content">

			<div class="container-fluid">

				<div class="col-sm-12">
					<h1 class="h3 mb-4 text-gray-800">Usuarios</h1>


					<a th:href="@{/users/new/}" class="btn btn-danger btn-xs">Nuevo</a>

					<hr class="sidebar-divider">

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr align="center">
								<th scope="col">Id</th>
								<th scope="col">Usuario</th>
								<th scope="col"></th>

							</tr>
						</thead>
						<tbody>
							<tr align="center" th:each="u: ${users}">
								<td th:text="${u.id}"></td>
								<td th:text="${u.username}"></td>
								  <td>
				      <a class="btn btn-danger" th:href="@{'/users/' + ${u.id} + '/delete'}" role="button"><i class="fas fa-trash"></i></a>
				      </td>
							</tr>
						</tbody>
					</table>

					<p th:text="${mensaje}"></p>
				</div>

			</div>

		</div>
	</div>
	<footer th:replace="layout/layout :: frag-footer"></footer>

</body>

</html>
